* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.options {
  display: flex;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color:#171413;
  width: 10rem;
  cursor: pointer;
  padding: 8px;
  height: 30px;
  border-radius: 5px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover:after {
  color:#ff6f47;
  background: white;
}

body,
html {
  background: #000 url('img/bg.jpg') no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(252, 252, 252);
}

.form-control {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control .text{
  width: 300px;
}

.form-control input{
  width: 300px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
  width: 50%;
  border-radius: 5px;
}

.btn2 {
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
}

.header {
  margin: 50px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
  margin-bottom: 82px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: solid 1px;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(73, 96, 81);
  height: 300px;
  perspective: 1000px;
  border-radius: 8px;
}

.card-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.card h1 {
  font-size: 17px;
  width: 100%;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  padding-top: 20px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

/* font weights */
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* font sizes */
.fs-15{font-size: 1.5rem;}
.fs-16{font-size: 1.6rem;}
.fs-17{font-size: 1.7rem;}
.fs-18{font-size: 1.8rem;}
.fs-20{font-size: 2rem;}
.fs-22{font-size: 2.2rem;}
.fs-24{font-size: 2.4rem;}
.fs-26{font-size: 2.6rem;}

/* letter spacing */
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}


